body{
	padding: 20px;
	text-align: center;
}
#header, #txt-col, #nav-col, #ad-col ,#footer {
	padding: 10px;
	margin: 7px;
}

.flexbox {
	display: flex;
	flex-flow: row wrap;
}

#header{
	background: lightblue;
	height: 100px;
	order: 1;
	flex: 0 1 100%; 
}
#txt-col {
	background: lightgreen;
	height: auto;
	order: 3;
	flex: 1;
}
#nav-col {
	background: grey;
	height: 300px;
	order: 2;
	flex: -1;
}
#ad-col{
	background: grey;
	height: 300px;
	order: 4;
	flex: -1;
}
#footer {
	align-self: flex-end;
	background: lightblue;
	min-height: 100px;
	order: 5;
	flex: 0 1 100%; 
}
span {
	font-size: 20px;
	padding: 0 4px;
}
p {
	font-size: 18px;
}